/* LAYOUT [ MAIN HEADER ]  ######################################################################################### */

/* A.1. GLOBAL STYLE ----------------------------------- */

.header {
  position: fixed;
  top: 0;
  right: 0;
  width: 100%;
  padding: 10px 20px;
  z-index: 100;
  background-color: #212121;
  text-align: right;
}

/* A.1. END -------------------------------------------- */

/* B. MEDIA QUERIES ------------------------------------ */

/* B.1. GRACEFUL DEGRADATION ------------ */

/* B.1. END ----------------------------- */

/* B.2. PROGRESSIVE ENHANCEMENT --------- */
/* 768px up */
@media (min-width: 768px) {
}

/* 991px up */
@media (min-width: 991px) {
}

/* 1200px up */
@media (min-width: 1200px) {
}

/* 1440px up */
@media (min-width: 1440px) {
}

/* B.2. END ----------------------------- */
/* B. END ---------------------------------------------- */

/* END OF FILE ##################################################################################################### */
