/* STYLE [ GLOBAL ]  ############################################################################################### */

/* A.1. GLOBAL STYLE ----------------------------------- */

html,
body {
  width: 100%;
  overflow-x: hidden;
}

.content-block {
  margin: 30px 30px 60px;
  text-align: center;
}

li {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

/* A.1. END -------------------------------------------- */

/* B. MEDIA QUERIES ------------------------------------ */

/* B.1. GRACEFUL DEGRADATION ------------ */

/* B.1. END ----------------------------- */

/* B.2. PROGRESSIVE ENHANCEMENT --------- */
/* 768px up */
@media (min-width: 768px) {
  .content-block {
    margin-top: 60px;
  }

  .content-block h1 {
    margin-bottom: 30px;
  }
}

/* 991px up */
@media (min-width: 991px) {
}

/* 1200px up */
@media (min-width: 1200px) {
}

/* 1440px up */
@media (min-width: 1440px) {
}

/* B.2. END ----------------------------- */
/* B. END ---------------------------------------------- */

/* END OF FILE ##################################################################################################### */
